{% extends 'BASE.html' %}
{% block content %}
<h1 class ="display-4 font-italic text-center color-red"><i class="fa fa-users"></i>Employee List</h1>
<table class="table table-striped table-dark">

    <thead>
    <tr>
        <th> sr.no </th>
        <th> Name </th>
        <th> Email </th>
        <th> Mobile </th>
        <th> Salary</th>
        <th> Position </th>
        <td>
            <a href="{% url 'employee_insert' %}" class="btn btn-outline-success"> <i class="fa fa-edit"> </i> Add New Data  </a>

        </td>
    </tr>
    </thead>
    <tbody>

{% for student in context %}

<tr>
    <td> {{student.id}} </td>
    <td> {{student.full_name}} </td>
    <td> {{student.email}} </td>
    <td> {{student.mobile}} </td>
    <td> {{student.salary}} </td>
    <td> {{student.position}} </td>
    <td>
        <a href="{% url 'employee_update' student.id %}" class="btn btn primary"><i class="fa fa-user-edit"></i> edit </a>
        <form action="{% url 'employee_delete' student.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash"></i> delete

            </button>
        </form>
    </td>
</tr>
    {% endfor %}
       </tbody>

</table>
{% endblock %}










