{% extends  'BASE.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class ="display-4 font-italic text-center"><i class="fa fa-user-plus"></i>Employee Registration</h1>
<form action="" method="post">
    {% csrf_token %}


{{ form.full_name|as_crispy_field }}
{{ form.email|as_crispy_field }}
{{ form.mobile|as_crispy_field }}

    <div class="row">
        <div class="col-md-4">
            {{ form.salary|as_crispy_field }}
        </div>
        <div class ="col-md-8">
            {{ form.position|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn-success btn-block btn-lg"><i class="fa fa-database"></i> Submit </button>
        </div>
        <div class="col-md-8">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg"> <i class="fa fa-backward"></i>Back to list </a>
        </div>
    </div>
</form>
{% endblock %}

